/* =========================================================
   Guidelines:
   
   For better navigation, use ctrl + f to search for the topics below

   - Global CSS Variables
   - CSS Reset
   - Base HTML
   - Headings
   - Links
   - Backgounds Utility Classes
   - Layout Helpers
   - Navigation Menu
   - Intro Section 
   - Top 3 Section
   - Gallery Section
   - Work Section
   - Princing Section
   - Contact Section
   - Footer

   ========================================================= */



/* =========================================================
   Global CSS Variables (Design Tokens)
   ========================================================= */
:root {
    /* Color palette */
    --primary-color: #0A1128;
    --secondary-color: #A7992B;
    --tertiary-color: #E27B14;
    --crimson-color: #dc143c;
    --white-color: #FFF;
    --gray-color: #CCC;
    
    /* UI helpers */
    --menu-border-color: #EEE;
    --table-border-color: #EEE;
    --spacing: 7rem;
    --gap: 3rem;
}

/* =========================================================
   CSS Reset (remove default browser spacing)
   ========================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* =========================================================
   Base HTML & Typography Settings
   ========================================================= */
html {
    /* 1rem = 10px (based on 16px default) */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 
   Font references:
   font-family: "Open Sans", sans-serif;
   font-family: "Montserrat", sans-serif;
*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

/* =========================================================
   Headings
   ========================================================= */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

h1 { font-size: 6rem; }
h2 { font-size: 5.5rem; }
h3 { font-size: 5rem; }
h4 { font-size: 4.5rem; }
h5 { font-size: 4rem; }
h6 { font-size: 3.5rem; }

/* =========================================================
   Links
   ========================================================= */
a {
    text-decoration: none;
    color: inherit;
}

/* =========================================================
   Background Utility Classes
   ========================================================= */
.main-bg {
    background-image: url(../img/main_bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* =========================================================
Layout Helpers
========================================================= */
.section {
min-height: 100vh;
}

.main-content {
max-width: 120rem;
margin: 0 auto;
padding: calc(2.5 * var(--gap)) var(--gap);
}

.spacing { min-height: var(--spacing); }

/* =========================================================
    Navigation menu
========================================================= */

.menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    border-bottom: 0.3rem solid #eff;
}

div.menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap);
}

.menu-flex h1 {
    font-size: 2.3rem;
}

.menu-flex nav ul {
    display: flex;
    list-style: none;   
}

.menu-flex nav ul li {
    margin: 2rem 0 2rem 2.5rem;
    position: relative;
}

.menu-flex nav ul li::after {
    content: "";
    background-color: var(--crimson-color);
    position: absolute;
    left: 50%;
    bottom: -0.2rem;
    height: 0.2rem;
    width: 0;
    transition: all 800ms ease-in-out;
}

.menu-flex nav ul li:hover::after {
    left: -0.2rem;
    width: calc(100% + 0.4rem);
}

/* =========================================================
    Intro Section
========================================================= */

.intro-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    min-height: calc(100vh - var(--spacing) - var(--gap) * 2);
}



.item-flex:first-child {
    flex: 1 2 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.item-flex:last-child {
    flex: 2 1 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-flex:last-child img {
    width: 100%;
    height: auto;
}

/* =========================================================
    Jobs Section
========================================================= */

.flex-jobs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 64rem;
    gap: var(--gap);
    text-align: center;
}

.flex-jobs h2 {
    margin-bottom: var(--gap);
}

/* =========================================================
   Top 3 Section
========================================================= */
 
.flex-top-3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    gap: calc(var(--gap) * 3);
}

.flex-heading-top {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--gap) / 2);
}

.flex-heading-top p {
    font-style: italic;
}

.flex-top-body {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
    gap: var(--gap);
    counter-reset: item-counter;
}

.flex-item-top {
    flex: 1 0 30rem;
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--gap) * 2);
}

.flex-item-top h3 {
    font-size: 3.5rem;
    line-height: 0.8rem;
    font-weight: 500;
}

.flex-item-top h3::before {
    counter-increment: item-counter;
    content: counter(item-counter);
    display: inline-block;
    margin-right: 2rem;
    font-style: italic;
    font-size: 10rem;
    font-weight: 500;
    transform: rotate(6deg);
}

/* =========================================================
   Gallery Section
========================================================= */

.flex-gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    gap: calc(var(--gap) * 2);
}

.flex-heading-gallery {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--gap) / 2);
}

.flex-heading-gallery p {
    font-style: italic;
}

.flex-gallery-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: calc(var(--gap) / 2);
}

.flex-item-img {
    flex: 1 1 34rem;
    display: flex;
    gap: var(--gap);
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.flex-item-img img {
    transition: all 400ms ease-in-out;
}

.flex-item-img img:hover {
    transform: translate(-2%, 2%) scale(1.15) rotate(3deg);
}

/* =========================================================
   Work Section
========================================================= */
 
.flex-work {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    gap: calc(var(--gap) * 4);
}

.flex-work-body {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
    gap: var(--gap);
    counter-reset: item-counter;
}

.flex-item-work {
    flex: 1 0 30rem;
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--gap) * 2);
}

.flex-item-work h3 {
    font-size: 3.5rem;
    line-height: 0.8rem;
    font-weight: 500;
}

.flex-item-work h3::before {
    counter-increment: item-counter;
    content: counter(item-counter);
    display: inline-block;
    margin-right: 2rem;
    font-style: italic;
    font-size: 9rem;
    font-weight: 400;
    transform: rotate(6deg);
}

/* =========================================================
   Princing Section
========================================================= */

.flex-pricing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 64rem;
    width: 100%;
    text-align: center;
    gap: calc(var(--gap) * 4);
}

.flex-heading-pricing {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
}

.container-pricing {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;

}

.container-pricing table {
    min-width: 50rem;
    border-collapse: collapse;
    width: 100%;
}

.container-pricing table th, .container-pricing table td {
    border: 0.2rem solid var(--table-border-color);
    padding: 0.5rem;
    font-size: 3rem;
}

.container-pricing table td {
    font-size: 2.5rem;
}

.container-pricing table caption {
    text-align: start;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.container-pricing table thead, .container-pricing table tfoot {
    background-color: var(--table-border-color);
}

.container-pricing table tfoot tr td{
    text-align: right;
    font-weight: 800;
    padding-right: 2rem;
}

/* =========================================================
   Princing Section
========================================================= */

.contact-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    min-height: calc(100vh - var(--spacing) - var(--gap) * 2);
}


/* text-flex contact */
.item-flex-contact:first-child {
    flex: 1 2 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    gap: calc(var(--gap) * 2);
}


/* Container image */
.item-flex-contact:nth-child(2) {
    flex: 2 1 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image */
.item-flex-contact:nth-child(2) img {
    width: 60%;
    height: auto;
}

/* Container Forms */
.item-flex-contact:nth-child(3){
    width: 100%;
}

/* flex Forms */
.item-flex-contact:nth-child(3) fieldset{
    display: flex;
    border: none;
    flex-flow: row wrap;
    gap: var(--gap);
}

/* table legend */
.item-flex-contact:nth-child(3) fieldset legend {
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* flex table items */
.item-flex-contact:nth-child(3) fieldset .form-group {
    flex: 1 1 30rem;
}

.item-flex-contact:nth-child(3) fieldset .form-group label {
    display: block;
    margin-bottom: 1rem;
}

.item-flex-contact:nth-child(3) fieldset .form-group input,
.item-flex-contact:nth-child(3) fieldset .form-group textarea {
    width: 100%;
    border: none;
    background-color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    outline: none;
}

/* effect input and textarea */
.item-flex-contact:nth-child(3) fieldset .form-group input:focus,
.item-flex-contact:nth-child(3) fieldset .form-group textarea:focus {
    box-shadow: 0 0 1rem 0.5rem var(--crimson-color);
    border: 0.1rem solid var(--crimson-color);
}

/* textarea with full width */
.item-flex-contact:nth-child(3) fieldset .form-group:nth-child(5) {
    flex: 1 1 100%;
    width: 100%;
} 

/* Button position */
.item-flex-contact:nth-child(3) fieldset .form-group:nth-child(6) {
  text-align: right;
}

/* Button style */
.item-flex-contact:nth-child(3) fieldset .form-group:nth-child(6) button {
  border: 0.5rem solid var(--white-color);
  color: var(--white-color);
  padding: 1.5rem 2rem;
  background: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.item-flex-contact:nth-child(3) fieldset .form-group:nth-child(6) button:hover {
    background-color: var(--gray-color);
    color: var(--primary-color);
    border: 0.5rem solid var(--gray-color);
}

/* =========================================================
   Footer
========================================================= */

.footer {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.6rem;
}

.footer a, .footer .heart {
    color: var(--crimson-color);
}

.footer .heart {
    font-size: 2rem;
}

