/* =========================================================
   Guidelines:
   
   For better navigation, use ctrl + f to search for the topics below

   - Global CSS Variables
   - CSS Reset
   - Base HTML
   - Headings
   - Links
   - Backgounds Utility Classes
   - Layout Helpers
   - Navigation Menu
   - Intro Section 
   - Top 3 Section

   ========================================================= */



/* =========================================================
   Global CSS Variables (Design Tokens)
   ========================================================= */
:root {
    /* Color palette */
    --primary-color: #0A1128;
    --secondary-color: #A7992B;
    --tertiary-color: #E27B14;
    --crimson-color: #dc143c;
    --white-color: #FFF;
    --spacing: 7rem;

    /* UI helpers */
    --menu-border-color: #EEE;
    --gap: 3rem;
}

/* =========================================================
   CSS Reset (remove default browser spacing)
   ========================================================= */
* {
    margin: 0;
    padding: 0;
}
 
/* =========================================================
   Base HTML & Typography Settings
   ========================================================= */
html {
    /* 1rem = 10px (based on 16px default) */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 
   Font references:
   font-family: "Open Sans", sans-serif;
   font-family: "Montserrat", sans-serif;
*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

/* =========================================================
   Headings
   ========================================================= */
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

h1 { font-size: 6rem; }
h2 { font-size: 5.5rem; }
h3 { font-size: 5rem; }
h4 { font-size: 4.5rem; }
h5 { font-size: 4rem; }
h6 { font-size: 3.5rem; }

/* =========================================================
   Links
   ========================================================= */
a {
    text-decoration: none;
    color: inherit;
}

/* =========================================================
   Background Utility Classes
   ========================================================= */
.main-bg {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* =========================================================
Layout Helpers
========================================================= */
.section {
min-height: 100vh;
}

.main-content {
max-width: 120rem;
margin: 0 auto;
padding: calc(2.5 * var(--gap)) var(--gap);
}

.spacing { min-height: var(--spacing); }

/* =========================================================
    Navigation menu
========================================================= */

.menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    border-bottom: 0.3rem solid #eff;
}

div.menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--gap);
}

.menu-flex h1 {
    font-size: 2.3rem;
}

.menu-flex nav ul {
    display: flex;
    list-style: none;   
}

.menu-flex nav ul li {
    margin: 2rem 0 2rem 2.5rem;
    position: relative;
}

.menu-flex nav ul li::after {
    content: "";
    background-color: var(--crimson-color);
    position: absolute;
    left: 50%;
    bottom: -0.2rem;
    height: 0.2rem;
    width: 0;
    transition: all 800ms ease-in-out;
}

.menu-flex nav ul li:hover::after {
    left: -0.2rem;
    width: calc(100% + 0.4rem);
}

/* =========================================================
    Intro Section
========================================================= */

.intro-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    min-height: calc(100vh - var(--spacing) - var(--gap) * 2);
}



.item-flex:first-child {
    flex: 1 2 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.item-flex:last-child {
    flex: 2 1 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-flex:last-child img {
    width: 100%;
    height: auto;
}

/* =========================================================
    Jobs Section
========================================================= */

.flex-jobs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 64rem;
    gap: var(--gap);
    text-align: center;
}

.flex-jobs h2 {
    margin-bottom: var(--gap);
}

/* =========================================================
   Top 3 Section
========================================================= */
 
.flex-top-3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    gap: calc(var(--gap) * 2);
}

.flex-top-body {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row wrap;
    gap: var(--gap);
    counter-reset: item-counter;
}

.flex-item-body {
    flex: 1 0 30rem;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap);
}

.flex-item-body h3::before {
    counter-increment: item-counter;
    content: counter(item-counter);
    display: inline-block;
    margin-right: 2rem;
    font-style: italic;
    font-size: 10rem;
    font-weight: 500;
    transform: rotate(6deg);
}

/* =========================================================
   Gallery Section
========================================================= */

.flex-gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    gap: calc(var(--gap) * 2);
}

.flex-gallery-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: calc(var(--gap) / 2);
}

.flex-item-img {
    flex: 1 0 34rem;
    display: flex;
    gap: var(--gap);
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.flex-item-img img {
    transition: all 400ms ease-in-out;
}

.flex-item-img img:hover {
    transform: translate(-2%, 2%) scale(1.15) rotate(3deg);
}

